.container img {
    width: 100%;
 }


.sub-container h2 {
    text-align: center;
    font-family: "Darwin", sans-serif;
    line-height: 1.75;
    letter-spacing: 2px;
  
}

h1 {
text-align: center;
}