.carousel-caption
{
    color: black;
    top: 220px;
    bottom: auto;
    background-color: #e6f2ff;
    font-family:Impact;
    position: absolute;
    display: block;
}

.all-blog-posts{
    margin-top: 20px;
}

@media screen and (max-width: 600px){
.carousel-item.active .carousel-caption {
    position: relative;
    top: 20px;
    left: 0px;
}
}
