.center{
    text-align: center;
    position: relative;
    left: 60px;
    width: 87%;
}
.center.create-post{
    float:right;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.header-title{
    font-size: 55px;
    margin-bottom: 20px;
}
.col-md-4.col-sm-6{
    margin-bottom:50px ;
}
.effect
{
  background-color:white;
  position: relative;
}
.effect:before, .effect:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 25px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 35px 20px #777;
  -moz-box-shadow: 0 35px 20px #777;
  box-shadow: 0 35px 20px #777;
  -webkit-transform: rotate(-8deg);
  -moz-transform: rotate(-8deg);
  -o-transform: rotate(-8deg);
  -ms-transform: rotate(-8deg);
  transform: rotate(-8deg);
}
.effect:after
{
  -webkit-transform: rotate(8deg);
  -moz-transform: rotate(8deg);
  -o-transform: rotate(8deg);
  -ms-transform: rotate(8deg);
  transform: rotate(8deg);
  right: 10px;
  left: auto;
}
.blog-image img{
    width: 100%;
}
.blog-title{
    margin: 10px 0px 10px 0px;
    padding: 10px;
}
.blog-content{
    font-size: 15px;
    line-height: 150%;
    border-bottom: 1px solid gray;
    padding: 0px 0px 20px 10px;
    margin: 10px 0px 10px 0px;
}
.blog-footer{
    font-size: 15px;
    padding-bottom: 5px;
}
.material-icons.edit{
    position: relative;
    top: 5px;
    font-size: 20px;
}
.post-info{
    list-style-type: none;
    display: flex;
    justify-content: center;
}
.post-info li{
    padding: 0px 10px 0px 0px;
}
.paging-wrapper{
    width: 100%;
    text-align: center;
}
.paging{
    display: inline-block;
    padding: 2px;
    margin: 2px;
}
.paging a {
    text-decoration: none;
    color: black;
    float: left;
    padding: 10px 15px;
    border-radius: 5px;
}
.paging a.active{
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
}
.paging a:hover:not(.active){
    background-color: #ddd;
}
.create {
    float: right;
}

