.title-header{
    text-align: center;
    margin-bottom: 80px;
}
.post-title-box h1{
    margin: 0;
}
.user-profile-image img{
    border-radius: 50%;
    width: 55px;
}
.material-icons.resize{
    font-size: 20px;
}
.list-border{
    border-right: 1px solid black;
}
.pl{
    padding-left: 10px;
    height: fit-content;
}
.user-profile-image{
    text-align: center;
}
.viewpost-info{
    vertical-align: middle;
}
.middle{
    margin: auto;
}
.viewpost-info ul{
    list-style: none;
    display: inline-flex;
    margin-left: -50px;
}
.viewpost-info li{
    padding-right: 10px;
}
.fr{
    float: right;
}
.mar{
    margin-bottom: 50px;
}
.post-content{
    font-size: 20px;
    line-height: 150%;
    font-family: sans-serif;
    margin-bottom: 50px;
}
.social-info ul{
    list-style: none;
    display: inline-flex;
    margin-left: -20px;
}
.social-info li{
    padding-right: 10px;
}
.border-bottom{
    border-bottom: 1px solid gray;
}
.post-img{
    margin-bottom: 50px;
}
.post-img img{
    height: 80vh;
    object-fit: cover;
    width: 100%;
}
.icon{
    font-size: 25px;
    color: blue;
    position: relative;
    bottom: 5px;
}
.previous-post{
    width: 50%;
    margin-bottom: 20px;
}

 .link-color{
    color: black;
}
.next-post{
    width: 50%;
    text-align: right;
    margin-bottom: 20px;
}
.edit_delete li{
    list-style: none;
    display: inline-flex;
}
.edit_delete{
    text-align: right;
}
.bookmark-modal{
    background-color: lightgreen;
    position: relative;
    bottom:50px;
    padding: 2px;
    font-size: 23px;
    font-weight: bold;
    text-align: center;
    display: none;
}
#bookmark{
    color: gray;
}
#unbookmark{
    display: none;
    color: gray;
}
#bookmark2{
    display: none;
    color: gray;
}
#unbookmark2{
    display: none;
    color: gray;
}



